.containerr {
  width: 120px;
  margin: 50px auto;
}

.circle-1 {
  height: 120px;
  width: 120px;
  background: #612e8d;
}

.circle-2 {
  height: 100px;
  width: 100px;
  background: #c22286;
}

.circle-3 {
  height: 80px;
  width: 80px;
  background: #ea225e;
}

.circle-4 {
  height: 60px;
  width: 60px;
  background: #ed5b35;
}

.circle-5 {
  height: 40px;
  width: 40px;
  background: #f5b52e;
}

.circle-6 {
  height: 20px;
  width: 20px;
  background: #81c540;
}

.circle-7 {
  height: 10px;
  width: 10px;
  background: #00a396;
}

.circle-8 {
  height: 5px;
  width: 5px;
  background: #1674bc;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5,
.circle-6,
.circle-7,
.circle-8 {
  border-bottom: none;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}