<!doctype html>
<html lang="en">

<head>
  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MFOSSociety | FREE AND OPEN SOURCE SOCIETY</title>

  <!-- Search Engines -->
  <meta name="description" content="Free And Open Source Society of Manipal University Jaipur. We develop free software and hardware.">
  <meta name="image" content="https://mfossociety.github.io/img/MFOSSociety-light.png">
  <meta itemprop="name" content="MFOSSociety">
  <meta itemprop="description" content="Free And Open Source Society of Manipal University Jaipur. We develop free software and hardware.">
  <meta itemprop="image" content="https://mfossociety.github.io/img/MFOSSociety-light.png">
  <meta name="keywords" content="manipal, manipal university jaipur, club, open source, foss, community, oss, developers, creators, coding, documentation, jaipur, design, manipal university jaipur, club, projects, students">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="MFOSSociety">
  <meta name="twitter:description" content="Free And Open Source Society of Manipal University Jaipur. We develop free software and hardware.">
  <meta name="twitter:site" content="@MFOSSociety">
  <meta name="twitter:creator" content="@MFOSSociety">
  <meta name="twitter:image:src" content="https://mfossociety.github.io/img/MFOSSociety-light.png">
  <meta name="twitter:player" content="https://mfossociety.github.io/video/MFOSSociety.mp4">

  <!-- Facebook, Pinterest & Google+ -->
  <meta name="og:title" content="MFOSSociety">
  <meta name="og:description" content="MFOSSociety develops software and hardware and cooperates with Open Tech projects.">
  <meta name="og:image" content="https://mfossociety.github.io/img/MFOSSociety-light.png">
  <meta name="og:url" content="https://mfossociety.github.io/">
  <meta name="og:site_name" content="MFOSSociety">
  <meta name="og:video" content="https://mfossociety.github.io/video/MFOSSociety.mp4">
  <meta name="og:type" content="website">

  <!-- Apple Touch Icon (at least 200x200px) -->
  <link rel="apple-touch-icon" href="img/mfossociety.ico">
  <!-- To run web application in full-screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
  <!-- Has no effect unless you have the previous meta tag -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Manifest File -->
  <link rel="manifest" href="manifest.json">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/theme-red.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    media="all">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600'
    rel='stylesheet' type='text/css'>
  <link href="css/socialmedia-icons.css" rel="stylesheet" type="text/css" />

  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

  <noscript id="deferred-styles">
    <link href="/css/fontawesome/css/fontawesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  </noscript>
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>
  <link rel="shortcut icon" href="img/mfossociety.ico" type="image/x-icon" />
</head>

<body class="scroll-assist">
  <div class="nav-container">
    <a id="top"></a>
    <nav class="light">
      <div class="nav-bar">
        <div class="module left">
          <a href="./">
            <img class="logo logo-light" src="img/mfossociety-light.png" />
            <img class="logo logo-dark" src="img/mfossociety-dark.png" />
          </a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group right">
          <div class="module left">
            <ul class="menu">
              <li class="code-in-nav has-dropdown"><a href="https://summerofcode.withgoogle.com/"
                  target="_blank">GSOC</a>
                <ul>
                  <li><a href="https://manipaluniversity.github.io/gsoc/" target="_blank" rel="noopener">GSOC 2019</a></li>
                  <li><a href="https://manipaluniversity.github.io/gsoc/" target="_blank" rel="noopener">GSOC 2018</a></li>
                  <li><a href="https://manipaluniversity.github.io/gsoc/" target="_blank" rel="noopener">GSOC 2017</a></li>
                  <li><a href="https://manipaluniversity.github.io/gsoc/" target="_blank" rel="noopener">GSOC 2016</a></li>
                </ul>
              </li>
              <li>
                <a href="https://twitter.com/mfossociety" target="_blank" rel="noopener"><i class="fa fa-twitter fa-lg fa-fw"
                    aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/mfossociety/" target="_blank" rel="noopener"><i class="fa fa-facebook fa-lg fa-fw"
                    aria-hidden="true"></i></a>
                <a href="https://github.com/MFOSSociety" target="_blank" rel="noopener"><i class="fa fa-github fa-lg fa-fw"
                    aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="module widget-handle language left">
          </div>
        </div>
        <!--end of module group-->
      </div>
    </nav>
  </div>
  <div class="main-container" style="padding-top: 64px;">
