@import url(https://fonts.googleapis.com/css?family=Audiowide:400,700&subset=latin,latin-ext);
.center {
  margin-right: auto;
  margin-left: auto;
}

.center-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uc {
  font-family: Audiowide, sans-serif;
  font-weight: 700;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0.1em solid #212529;
  padding: 0.7em;
  width: auto;
  text-align: center;
  font-size: 30px;
  border-radius: 0.3em;
  text-shadow: 1px 1px 0px #f8f9fa;
  color: #212529;
  white-space: nowrap;
  background: repeating-linear-gradient(45deg, #ffd43b, #ffd43b 0.6em, #212529 0.6em, #212529 1.3em);
}
.uc span,
.uc i {
  position: relative;
  z-index: 5;
}
.uc:before {
  content: '';
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #ffd43b;
}
.uc.uc-biohazard {
  color: #f03e3e;
  text-shadow: 1px 1px 0px #212529;
  background: repeating-linear-gradient(45deg, #212529, #212529 0.6em, #f03e3e 0.6em, #f03e3e 1.3em);
}
.uc.uc-biohazard:before {
  background-color: #212529;
}
.uc.uc-mines {
  color: #f8f9fa;
  text-shadow: 1px 1px 0px #212529;
  background: repeating-linear-gradient(45deg, #f8f9fa, #f8f9fa 0.6em, #212529 0.6em, #212529 1.3em);
}
.uc.uc-mines:before {
  background-color: #f03e3e;
}

.uc-sm {
  font-size: 20px;
}

.uc-pos-fix {
  position: relative;
  width: 483px !important;
}
.uc-pos-fix.uc-sm {
  width: 322px !important;
}

html.under-construction {
  background: #aaaaaa url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
